<!-- <p>user-dashboard works!</p>
 -->
<div class="">
  <!-- <div class="d-flex align-items-center justify-content-between mt-2 mx-2">
    <div class="">
      <input type="text" pInputText placeholder="Search" />
    </div>
    <div class="d-flex align-items-center">
      <p-button icon="pi pi-align-justify" rounded="true" text="true" raised="true"
        (onClick)="library_view = true;book_view = false"></p-button>
      <p-button icon="pi pi-book" class="ms-2" rounded="true" text="true" raised="true"
        (onClick)="book_view = true;library_view = false"></p-button>
    </div>
  </div> -->
  <app-library-list ></app-library-list>
</div>
