<div class="credit-card-form">
  <h2>PAYMENT PORTAL</h2>
  <img class="Image1" src="https://i.ibb.co/hgJ7z3J/6375aad33dbabc9c424b5713-card-mockup-01.png"
    alt="6375aad33dbabc9c424b5713-card-mockup-01" >

  <form>
    <div class="form-group">
      <input type="text" pInputText id="card-number" placeholder="Card number">
      </div>
    <div class="form-group">
      <input type="text" pInputText id="card-holder" placeholder="Card holder's name">
    </div>
    <div class="form-row">
      <div class="form-group form-column">
        <input type="text" pInputText id="expiry-date" placeholder="MM/YY">
      </div>
      <div class="form-group form-column">
        <input type="text" pInputText id="CVV" placeholder="CVV">
      </div>
    </div>
    <button type="submit" class="click-button" onclick="showLoading(event, this)">PAY NOW - $(TOTAL)</button>
  </form>
</div>
