<!-- <p>register works!</p> -->
<div class="d-flex align-items-center justify-content-center h-100 bg-cont">
  <p-card [style]="{width: '420px',margin :'0 auto'}" styleClass="p-card-shadow">
    <div class=" mb-0 logo" ><img src="../../../assets/images/library-logo.png" class="img-fluid"></div>
    <form [formGroup]="registerData" (ngSubmit)="onSubmit()" class="mt-2 ">
      <div class="form-group mb-2">
        <input type="text" class="form-control" pInputText placeholder="First Name" formControlName="fname" required
          [class.is-invalid]="registerValid['fname'].invalid && registerValid['fname'].touched">
        <div class="" *ngIf="registerValid['fname'].errors && registerValid['fname'].touched">
          <small class="text-danger" *ngIf="registerValid['fname'].errors['required']">First Name</small>
        </div>
      </div>
      <div class="form-group mb-2">
        <input type="text" class="form-control" pInputText placeholder="Last Name" formControlName="lname" required
          [class.is-invalid]="registerValid['lname'].invalid && registerValid['lname'].touched">
        <div class="" *ngIf="registerValid['lname'].errors && registerValid['lname'].touched">
          <small class="text-danger" *ngIf="registerValid['lname'].errors['required']">Last Name</small>
        </div>
      </div>
      <div class="form-group mb-2">
        <input type="text" class="form-control" pInputText placeholder="Email" formControlName="email" required
          [class.is-invalid]="registerValid['email'].invalid && registerValid['email'].touched">
        <div class="" *ngIf="registerValid['email'].errors && registerValid['email'].touched">
          <small class="text-danger" *ngIf="registerValid['email'].errors['required']">Enter email</small>
          <small class="text-danger" *ngIf="registerValid['email'].errors?.['pattern']">Enter Valid email</small>
        </div>
      </div>
      <div class="form-group mb-2">
        <p-dropdown [options]="roles" formControlName="usertype" optionValue="name"  optionLabel="name" placeholder="Selct Role Type" class="w-100 " styleClass="w-100"></p-dropdown>
        <div class="" *ngIf="registerValid['usertype'].errors && registerValid['usertype'].touched">
          <small class="text-danger" *ngIf="registerValid['usertype'].errors['required']">Enter Role</small>
        </div>
      </div>
      <div class="form-group mb-2">
        <input type="text" class="form-control" pInputText placeholder="Phone Number" formControlName="phoneNumber" required
          [class.is-invalid]="registerValid['phoneNumber'].invalid && registerValid['phoneNumber'].touched">
        <div class="" *ngIf="registerValid['phoneNumber'].errors && registerValid['phoneNumber'].touched">
          <small class="text-danger" *ngIf="registerValid['phoneNumber'].errors['required']">Phone Number</small>
        </div>
      </div>
      <div class="form-group mb-2">
        <!-- <input type="password" class="form-control" pInputText placeholder="DOB" formControlName="dob"
          [class.is-invalid]="registerValid['dob'].invalid && registerValid['dob'].touched"> -->
          <p-calendar  class="w-100" styleClass="w-100" placeholder="DOB" formControlName="dob" [class.is-invalid]="registerValid['dob'].invalid && registerValid['dob'].touched"></p-calendar>
        <div class="" *ngIf="registerValid['dob'].errors && registerValid['dob'].touched">
          <small class="text-danger" *ngIf="registerValid['dob'].errors['required']">DOB</small>
        </div>
      </div>
      <div class="d-flex mb-2">
        <div class="form-group">
          <input type="password" class="form-control" pInputText placeholder="Password" formControlName="password"
            [class.is-invalid]="registerValid['password'].invalid && registerValid['password'].touched">
          <div class="" *ngIf="registerValid['password'].errors && registerValid['password'].touched">
            <small class="text-danger" *ngIf="registerValid['password'].errors['required']">Enter Passsword</small>

          </div>
        </div>
        <div class="form-group ms-2">
          <input type="password" class="form-control" pInputText placeholder="Confirm Passsword" formControlName="confirmPassword"
            [class.is-invalid]="registerValid['confirmPassword'].invalid && registerValid['confirmPassword'].touched">
          <div class="" *ngIf="registerValid['confirmPassword'].errors && registerValid['confirmPassword'].touched">
            <small class="text-danger" *ngIf="registerValid['confirmPassword'].errors['required']">Confirm Passsword</small>
          </div>
        </div>

      </div>

      <div class="sizes mt-2 text-center">
        <p-button label="Submit" icon="pi pi-check" styleClass="p-button-sm" type="submit"></p-button>
      </div>

    </form>
    <div class="d-flex align-items-center mt-2 justify-content-center">
      <p class="text-center ">Have an account ?</p>
      <p class="text-center pointer ms-2" routerLink="/login" style="cursor: pointer;">Login</p>
    </div>
  </p-card>
</div>
