<div class="d-flex align-items-center justify-content-center  mt-5">
  <p-card [style]="{width: '420px',margin :'0 auto'}" styleClass="p-card-shadow">
    <h5 class="text-center mb-4">Profile</h5>
    <div class="d-flex align-items-center justify-content-between">
      <h5>Id</h5>
      <p>{{profileDetails._id}}</p>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <h5>Email</h5>
      <p>{{profileDetails.email}}</p>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <h5>Name</h5>
      <p>{{profileDetails.fname}}</p>&nbsp;
      <p>{{profileDetails.lname}}</p>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <h5>DOB</h5>
      <p>{{profileDetails.dob}}</p>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <h5>Phone Number</h5>
      <p>{{profileDetails.phoneNumber}}</p>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <h5>Password</h5>
      <p>{{profileDetails.password}}</p>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <h5>Type</h5>
      <p>{{profileDetails.usertype}}</p>
    </div>
  </p-card>
</div>
