<!-- <p>book-user-records works!</p> -->
<div class="m-3">
  <p-table [value]="checkInList" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Store</th>
        <th>Book Name</th>
        <th>Author</th>
        <th>Price</th>
        <th>Status</th>
        <th>Quantity</th>
        <th>Purchased Date</th>
        <th>Returned Date</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.storename}}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.author }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.status }}</td>
        <td>{{ product.quantity }} </td>
        <td>{{product.startDate}}</td>
        <td>{{product.returnedDate | date:'short'}}</td>
        <td>
          <!-- <p-button icon="pi pi-times" pTooltip="Cancel Book"  *ngIf="product.status == 'Return Requested'"
            severity="secondary" class="mx-2" (click)="cancelReturn(product)"></p-button> -->
          <p-button icon="pi pi-sign-out" pTooltip="Return Book"  *ngIf="product.status == 'Purchased'"
            severity="secondary" class="mx-2" (click)="submitCheckout(product)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog header="Renewal Book" [modal]="true" [(visible)]="visible" [closable]="false" [style]="{width: '50vw'}">
  <div class="w-100">
    <span class="p-float-label mb-2">
      <p-calendar id="2" selectionMode="range" [minDate]="minDate" [readonlyInput]="true" appendTo="body"
        styleClass="w-100" class="w-100" [(ngModel)]="rangeDates"></p-calendar>
      <label htmlFor="2">Renewal Date</label>
    </span>
    <div class="d-flex align-items-center justify-content-between">
      <p-button severity="secondary" label="Close" (click)="close()" class="mt-2"></p-button>
      <p-button severity="secondary" label="Submit" (click)="renewalDate()" class="mt-2"></p-button>
    </div>

  </div>

</p-dialog>
<p-dialog header="Checkout Book" [modal]="true" [(visible)]="checkoutBook" [closable]="false" [style]="{width: '50vw'}">
  <div class="w-100">
    <span class="p-float-label mt-4">
      <p-dropdown [options]="libraryList" class="w-100" styleClass="w-100" optionLabel="name" appendTo="body"
        [(ngModel)]="checkOutLibName" [autoDisplayFirst]="false"></p-dropdown>
      <label htmlFor="2">Store Name</label>
    </span>

    <div class="d-flex align-items-center justify-content-between">
      <p-button severity="secondary" label="Close" (click)="close()" class="mt-2"></p-button>
      <p-button severity="secondary" label="Submit" (click)="submitCheckout(checkOutLibName)" class="mt-2"></p-button>
    </div>
  </div>
</p-dialog>
<p-dialog header="Payment Portal" [modal]="true" [(visible)]="payment" [closable]="true" [style]="{width: '50vw'}">
  <div class="credit-card-form">
    <img class="Image1" src="https://i.ibb.co/hgJ7z3J/6375aad33dbabc9c424b5713-card-mockup-01.png"
      alt="6375aad33dbabc9c424b5713-card-mockup-01">
    <form>
      <div class="form-group p-dropgvhn">
        <p-dropdown [options]="cardType" styleClass="" optionValue="name" optionLabel="name" placeholder="Card Type"
          class="w-100 " styleClass="w-100"></p-dropdown>
      </div>
      <div class="form-group">
        <input type="text" id="card-number" pInputText placeholder="Card number">
      </div>
      <div class="form-group">
        <input type="text" id="card-holder" pInputText placeholder="Card holder's name">
      </div>
      <div class="form-row justify-content-between">
        <div class="form-group form-column">
          <input type="text" id="expiry-date" pInputText placeholder="MM/YY">
        </div>
        <div class="form-group form-column ms-2">
          <input type="text" id="cvv" placeholder="CVV">
        </div>
      </div>
      <p-button type="submit" class="" p-button (click)="paymentSuccess()">PAY NOW -
        ${{paymentRecords?.fine}}</p-button>
    </form>
  </div>

</p-dialog>
