<!-- <p>login works!</p> -->
<div class="d-flex align-items-center justify-content-center h-100 bg-cont">
  <p-card [style]="{width: '420px',margin :'0 auto'}" styleClass="p-card-shadow">
    <div class=" mb-0 logo" ><img src="../../../assets/images/library-logo.png" class="img-fluid"></div>
    <form [formGroup]="loginform" (ngSubmit)="onSubmit()" class=" mt-2">
      <div class="form-group mb-2">
        <input type="text" class="form-control" pInputText placeholder="Email" formControlName="email" required
          [class.is-invalid]="loginValid['email'].invalid && loginValid['email'].touched">
        <div class="" *ngIf="loginValid['email'].errors && loginValid['email'].touched">
          <small class="text-danger" *ngIf="loginValid['email'].errors['required']">Enter email</small>
          <small class="text-danger" *ngIf="loginValid['email'].errors?.['pattern']">Enter Valid email</small>
        </div>
      </div>
      <div class="form-group" *ngIf="changePassword">
        <input type="password" class="form-control" pInputText placeholder="Change Password" formControlName="password"
          [class.is-invalid]="loginValid['password'].invalid && loginValid['password'].touched">
        <div class="" *ngIf="loginValid['password'].errors && loginValid['password'].touched">
          <small class="text-danger" *ngIf="loginValid['password'].errors['required']">Enter Passsword</small>

        </div>
      </div>
      <div class="sizes mt-2 text-center">
        <p-button label="Submit" icon="pi pi-check" styleClass="p-button-sm" type="submit"></p-button>
      </div>
    </form>
    <div class="d-flex align-items-center mt-2 justify-content-center">
      <p class="text-center ">Remember Something ?</p>
      <p class="text-center pointer ms-2" routerLink="/login" style="cursor: pointer;">Login</p>
    </div>
  </p-card>
</div>
